@use '../scss' as styles;
@import '@csstools/normalize.css';
@font-face {
    font-family: 'BroshK-5489';
    src: url('../fonts/BroshK/BroshK-5489.woff') format('woff');
}
:global(body) {
    //font-family: styles.$base-font-family;
    font-family: 'BroshK-5489', sans-serif;
    font-size: styles.$font-size-base;
    height: 100%;
    @include styles.reset-spacing();
}

:global(html) {
    height: 100%;
}

// Accessibility: anchor min-height: 48px for tap targets.
:global(a) {
    display: block;
    min-height: 48px;
    @media (min-width: styles.$tablet) {
        display: inherit;
        min-height: auto;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include styles.reset-spacing();
}

.wrapper {
    @include styles.reset-spacing();
}

.reactLogo {
    height: 48px;
    vertical-align: middle;
    width: 48px;
}
