@import '@csstools/normalize.css';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Titillium+Web:400,700&display=swap');

:global(body) {
    font-family: 'Titillium Web', Arial, sans-serif;
    font-size: var(--font-size-base);
}

// Accessibility: anchor min-height: 48px for tap targets.
:global(a) {
    display: block;
    min-height: 48px;
    @media (min-width: 768px) {
        display: inherit;
        min-height: auto;
    }
}

.wrapper {
    margin: auto;
    max-width: 100%;
    width: 768px;

    h1 {
        font-size: var(--font-size-h1);
    }
}

.reactLogo {
    height: 48px;
    vertical-align: middle;
    width: 48px;
}
